DB_USER=user
DB_PASSWORD=password
DB_HOST=localhost

SESSION_SECRET=s3cr3t

FACEBOOK_CLIENT_ID=
FACEBOOK_SECRET_KEY=

KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=
KEYCLOAK_DOMAIN=
KEYCLOAK_REALM=

APP_VERSION=staging